/* Chargement de la police */
@font-face {
    /* Choix du nom de la font family libre */
    font-family: 'patata';
    src: url('../font/OpenSans_Condensed-Regular.ttf');
}

/* ----------CSS générale---------- */
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Police du document html */
html{
    font-family: "Open Sans", sans-serif;
    /* font-family: 'patata', sans-serif; */
}

header, main, footer{
    padding: 25px 100px;
    /* autre solution :
    padding-left: 100px;
    padding-right: 100px; 
    padding-top: 25px;
    padding-bottom: 25px; */
}

/* Enlève les puces des listes non ordonnées */
nav ul{
    list-style: none;
}

/* Textes en majuscules */
.caps{
    text-transform: uppercase;
}

i{
    margin-left: 40px;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ----------CSS header---------- */

header{
    /* Hauteur du header (100% de la hauteur de l'écran) */
    height: 100vh;
    /* Affichage de l'image de fond */
    background-image: url('../img/landscapes/landscape1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Couleurs de tous les textes dans le header */
    color: #ffffff;
    /* Positionnement des blocs dans le header (nav, div de textes, div des RS) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar-top{
    /* Positionnement de la nav du header */
    display: flex;
    justify-content: flex-end;
}

/* Espacement des li dans la nav */
#navbar-top li{
    margin-left: 50px;
}

header hr{
    width: 12%;
    border: 1px solid #3d858e;
}

header p.caps{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

header div a.caps{
    background-color: #3d858e;
    padding: 8px 15px;
    border-radius: 8px;
}

#quote{
    margin-bottom: 55px;
}

#social-media-top{
    align-self: flex-end;
    padding-bottom: 40px;
}

/* Style (couleur, soulignement) des liens dans le header et dans le main */
header a, main a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* ----------CSS main / Biographie---------- */
#biography{
    display: flex;
}

#biography img{
    width: 30%;
    border-radius: 8px;
    margin-right: 70px;
}

#biography h2{
    color: #f6a844;
}

#biography hr{
    width: 10%;
    border: 1px solid #f6a844;
    margin-bottom: 20px;
    margin-top: 10px;
}

#biography div a.caps{
    background-color: #f6a844;
    padding: 8px 15px;
    border-radius: 8px;
}

#biography div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}